@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Williams @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha-long-hash_code" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-3">
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link
                        @(controller == "Home" && action == "Index" ? "active" : "")"
                       asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link
                        @(controller == "Items" ? "active" : "")"
                       asp-controller="Items" asp-action="Index">Items</a>
                    <a class="nav-link
                        @(controller == "Employees" ? "active" : "")"
                       asp-controller="Employees" asp-action="Index">Employees</a>
                    <a class="nav-link
                        @(controller == "Clients" ? "active" : "")"
                       asp-controller="Clients" asp-action="Index">Clients</a>
                    <a class="nav-link
                        @(controller == "Incidents" ? "active" : "")"
                       asp-controller="Incidents" asp-action="Index">Incidents</a>
                </div>
            </nav>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - The AthMan
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
