@model Employee
@{
    string title = ViewBag.Action + " Employee";
    ViewBag.Title = title;
}

<div class="text-center">
    <h1 class="display-3" style="margin-top: 65px">@ViewBag.Title</h1>
</div>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="@Model.Name">Name</label>
        <input asp-for="@Model.Name" class="form-control" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Email">Email</label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Phone">Phone</label>
        <input asp-for="@Model.Phone" class="form-control" />
        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="@Model.EmployeeID" />

    <button type="submit" class="btn btn-primary mb-5">@ViewBag.Action</button>
    <a asp-controller="Employees" asp-action="Index" class="btn btn-primary mb-5">Cancel</a>

</form>
