@model List<Client>
@{
    ViewBag.Title = "Client List";
}

<div class="text-center">
    <h1 class="display-3" style="margin-top: 65px">Client List</h1>
</div>

<a asp-controller="Clients" asp-action="Add" class="btn btn-success mb-2"><span class="fas fa-plus"></span> Add New Client</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
        <tr>
            <td>
                <a asp-controller="Clients" asp-action="Details" class="text-dark"
                   asp-route-id="@client.ClientID">@client.FullName</a>
            </td>
            <td>
                <a asp-controller="Clients" asp-action="Details" class="text-dark"
                   asp-route-id="@client.ClientID">@client.Email</a>
            </td>
            <td>
                <a asp-controller="Clients" asp-action="Details" class="text-dark"
                   asp-route-id="@client.ClientID">@client.Phone</a>
            </td>
            <td>
                <a asp-controller="Clients" asp-action="Edit" class="btn btn-primary"
                   asp-route-id="@client.ClientID"><span class="fas fas fa-edit"></span></a>
                <a asp-controller="Clients" asp-action="Delete" class="btn btn-danger"
                   asp-route-id="@client.ClientID"><span class="fas fa-minus"></span></a>
            </td>
        </tr>
        }
    </tbody>
</table>